@charset "UTF-8";
body {
    text-align: center;
    background-color: #FFFAF0;
    margin-bottom: 40px;
    margin-top: 50px;
}

fieldset {
    text-align: center;
    background-color: white;
    margin-top: auto;
    margin-right: 500px;
    margin-left: 500px;
    padding: 5px 10px 5px 5px;
}
#faixa {
   
      
}